@layer base {
  @font-face {
    font-family: 'Vazir';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/vazir/Vazirmatn-Light-300.woff2') format('woff2');
    font-display: swap;
  }
}

@layer base {
  @font-face {
    font-family: 'Vazir';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/vazir/Vazirmatn-Regular-400.woff2') format('woff2');
    font-display: swap;
  }
}

@layer base {
  @font-face {
    font-family: 'Vazir';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/vazir/Vazirmatn-Medium-500.woff2') format('woff2');
    font-display: swap;
  }
}

@layer base {
  @font-face {
    font-family: 'Vazir';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/vazir/Vazirmatn-SemiBold-600.woff2') format('woff2');
    font-display: swap;
  }
}

@layer base {
  @font-face {
    font-family: 'Vazir';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/vazir/Vazirmatn-Bold-700.woff2') format('woff2');
    font-display: swap;
  }
}
