@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Vazir";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/vazir/Vazirmatn-Regular.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Vazir";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/vazir/Vazirmatn-Medium.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Vazir";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/vazir/Vazirmatn-Bold.woff2") format("woff2");
    font-display: swap;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply font-vazir;
  }
  h2 {
    @apply text-xl;
  }
  h4 {
    @apply text-sm lg:text-base;
  }
  h5 {
    @apply text-sm lg:text-base font-normal leading-6 tracking-wide;
  }
  p {
    @apply text-sm tracking-wide text-gray-700;
  }
  button {
    @apply cursor-pointer inline-block;
  }
  a {
    @apply cursor-pointer;
  }
  label,
  span {
    @apply text-xs text-gray-500 md:text-sm font-light;
  }
}

@layer components {
  .farsi-digits {
    font-feature-settings: 'ss01';
  }

  .icon {
    @apply w-5 h-5 md:w-6 md:h-6 text-gray-700;
  }

  .section-divide-y {
    @apply h-2 bg-gray-100 lg:hidden;
  }

  .section-divide-x {
    @apply w-0.5 h-4 bg-gray-200;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

}
